# Task 1: Data Preparation

In [9]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

pd.set_option('future.no_silent_downcasting', True)

In [10]:
# csv to dataframe and show first 5 rows
df = pd.read_csv("A1data.csv")
df.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence (Rural),Residence (Urban),Wealth quintile (Poorest),Wealth quintile (Richest),Time period
0,DZA,Algeria,MENA,MENA,Upper middle income (UM),25%,10%,33%,1%,78%,2018-2019
1,AGO,Angola,SSA,ESA,Lower middle income (LM),19%,2%,27%,0%,62%,2015-2016
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),43%,NaN,NaN,NaN,NaN,2011-2012
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),81%,71%,89%,44%,99%,2015-2016
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),34%,31%,48%,8%,73%,2019

In [11]:
# get data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ISO3                       90 non-null     object
 1   Countries and areas        90 non-null     object
 2   Region                     90 non-null     object
 3   Sub-region                 90 non-null     object
 4   Income Group               90 non-null     object
 5   Total                      90 non-null     object
 6   Residence (Rural)          85 non-null     object
 7   Residence (Urban)          86 non-null     object
 8   Wealth quintile (Poorest)  83 non-null     object
 9   Wealth quintile (Richest)  83 non-null     object
 10  Time period                90 non-null     object
dtypes: object(11)
memory usage: 7.9+ KB

In [12]:
# convert percentage strings to float
df.iloc[:, 5:10] = df.iloc[:, 5:10].apply(lambda x: x.str.replace('%', '') if x.dtype == "object" else x)
df.iloc[:, 5:10] = df.iloc[:, 5:10].astype(float)    
df.head()

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence (Rural),Residence (Urban),Wealth quintile (Poorest),Wealth quintile (Richest),Time period
0,DZA,Algeria,MENA,MENA,Upper middle income (UM),25.0,10.0,33.0,1.0,78.0,2018-2019
1,AGO,Angola,SSA,ESA,Lower middle income (LM),19.0,2.0,27.0,0.0,62.0,2015-2016
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),43.0,NaN,NaN,NaN,NaN,2011-2012
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),81.0,71.0,89.0,44.0,99.0,2015-2016
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),34.0,31.0,48.0,8.0,73.0,2019

In [13]:
# columns with NaN values
df.isnull().sum()

ISO3                         0
Countries and areas          0
Region                       0
Sub-region                   0
Income Group                 0
Total                        0
Residence (Rural)            5
Residence (Urban)            4
Wealth quintile (Poorest)    7
Wealth quintile (Richest)    7
Time period                  0
dtype: int64

In [14]:
# get skewness values
print(df[["Residence (Rural)", "Residence (Urban)", "Wealth quintile (Poorest)", "Wealth quintile (Richest)"]].skew())

Residence (Rural)            0.956568
Residence (Urban)            0.245451
Wealth quintile (Poorest)    1.546006
Wealth quintile (Richest)   -0.506014
dtype: object

In [15]:
# get the mean values of each income group for columns with NaN values
income_group_means = df.groupby("Income Group")[["Residence (Rural)", "Residence (Urban)", "Wealth quintile (Richest)"]].transform('mean')
# median for Wealth quintile (Poorest) since skew is >1.5
income_group_medians = df.groupby("Income Group")[["Wealth quintile (Poorest)"]].transform('median')

In [16]:
group_means.head()

NameError: name 'group_means' is not defined

In [17]:
group_medians.head()

NameError: name 'group_medians' is not defined

In [ ]:
df["Residence (Rural)"] = df["Residence (Rural)"].fillna(income_group_means["Residence (Rural)"])
df["Residence (Urban)"] = df["Residence (Urban)"].fillna(income_group_means["Residence (Urban)"])
df["Wealth quintile (Richest)"] = df["Wealth quintile (Richest)"].fillna(income_group_means["Wealth quintile (Richest)"])
df["Wealth quintile (Poorest)"] = df["Wealth quintile (Poorest)"].fillna(income_group_medians["Wealth quintile (Poorest)"])

In [ ]:
df.isnull().sum()

# Task 2: Data Exploration

## Task 2.1

In [ ]:
# Code goes after this line by adding cells

## Task 2.2

In [ ]:
# Code goes after this line by adding cells

## Task 2.3

In [ ]:
# Code goes after this line by adding cells